@import url('https://unpkg.com/css.gg@2.0.0/icons/css/notes.css');
.gg-notes {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,2));
    width: 20px;
    height: 22px;
    border: 2px solid;
    border-radius: 3px
   }
   
   .gg-notes::after,
   .gg-notes::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    height: 2px;
    background: currentColor;
    left: 2px
   }
   
   .gg-notes::before {
    box-shadow:
    0 4px 0,
    0 8px 0;
    width: 12px;
    top: 2px
   }
   
   .gg-notes::after {
    width: 6px;
    top: 14px
   } 


@import url('https://unpkg.com/css.gg@2.0.0/icons/css/file-add.css');

.gg-file-add {
    background:
    linear-gradient(to bottom,
    currentColor 5px,transparent 0)
    no-repeat 2px 9px/6px 2px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,2));
    width: 14px;
    height: 16px;
    border: 2px solid transparent;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 0 0 2px;
    border-radius: 1px;
    border-top-right-radius: 4px;
    overflow: hidden
    }
   
    .gg-file-add::after,
    .gg-file-add::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    height: 6px
    }
   
    .gg-file-add::before {
    background: currentColor;
    left: 4px;
    width: 2px;
    top: 7px
    }
   
    .gg-file-add::after {
    width: 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    right: -1px;
    top: -1px
    } 

@import url('https://unpkg.com/css.gg@2.0.0/icons/css/close-r.css');

.gg-close-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,2));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px
   }
   
   .gg-close-r::after,
   .gg-close-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 3px
   }
   
   .gg-close-r::after {
    transform: rotate(-45deg)
   } 