*{
    margin:0;
    padding:0;
  }
  
  header{
    border-bottom: 1px solid #1b85dc;
    height: 100px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #controls{
    margin: 20px;
  }

  #controls-note{
    display: flex;
    width: 120px;
    justify-content: space-between;
  }

  #morfismo{
    width: 500px;
    height: 500px;
    background: rgba( 112, 112, 112, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  main{
    padding: 20px;
  }
  
  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card{
    cursor: pointer;
  }
  
  a{
    text-decoration: none;
  }
  
  #modal-view{
    border:1px solid #1b85dc;
    display:none;
    margin: auto;
    width: 96vw;
    padding:20px;
  }
  
  #close-modal{
    float:right;
  }
  
  #modal{
    border:1px solid #1b85dc;
    padding:20px;
    display:none;
    width: 96vw;
    margin: auto;
  }

  i{
    cursor: pointer;
  }
  

  .gg-notes {
    margin: 35px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,2));
    width: 20px;
    height: 22px;
    border: 2px solid;
    border-radius: 3px
   }
   
   .gg-notes::after,
   .gg-notes::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    height: 2px;
    background: currentColor;
    left: 2px
   }
   
   .gg-notes::before {
    box-shadow:
    0 4px 0,
    0 8px 0;
    width: 12px;
    top: 2px
   }
   
   .gg-notes::after {
    width: 6px;
    top: 14px
   } 